---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="hero-subtitle">
      <h2>Crafting websites that are as unique as you are</h2>
    </div>
    <About />
  </main>
</Layout>

<style>
  .hero-subtitle h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: end;
  }
</style>
