---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <Header />
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
