---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
---

<Layout title="Ian Wagner | Web Dev">
  <main>
    <div class="time-date">
      <p>
        &copy;{new Date().getFullYear()}
      </p>
    </div>
    <div class="dark-light-toggle">
      <span id="dark-light-toggle">go dark</span>
    </div>
    <div class="hero-subtitle">
      <h2>Innovative web design for a dynamic world</h2>
    </div>
    <About />
    <Work />
    <script is:inline>
      const darkLightBtn = document.querySelector("#dark-light-toggle");
      const html = document.querySelector("html");

      darkLightBtn.addEventListener("click", function () {
        html.dataset.theme = html.dataset.theme === "dark" ? "light" : "dark";
        darkLightBtn.innerText =
          darkLightBtn.innerText === "go light" ? "go dark" : "go light";
      });
    </script>
    <script is:inline>
      const emojis = [
        "ðŸ¤™",
        "ðŸ§©",
        "ðŸ¥",
        "ðŸŽ²",
        "ðŸŽ¹",
        "ðŸŽ¨",
        "ðŸŽ¸",
        "ðŸŽ³",
        "ðŸ•ï¸",
        "ðŸŽ»",
        "ðŸ‘",
        "ðŸ‘Ž",
        "ðŸ’©",
        "ðŸ¤–",
        "ðŸ§Ÿ",
        "ðŸ‘»",
        "ðŸ¦Š",
        "ðŸ»",
        "ðŸ¶",
        "ðŸ±",
        "ðŸŒž",
        "ðŸ¤",
        "ðŸ§Š",
        "ðŸŒŠ",
        "ðŸž",
        "ðŸ—»",
        "ðŸ”",
        "ðŸ›¸",
        "ðŸš€",
        "ðŸš²",
        "ðŸ›´",
        "ðŸš—",
        "ðŸš•",
        "ðŸ©",
        "ðŸ›³",
        "â›µï¸",
        "ðŸš¤",
        "ðŸŠ",
        "ðŸš´",
        "",
        "ðŸŽ®",
        "ðŸŽ¥",
        "ðŸŽ§",
        "ðŸ“–",
        "ðŸ’»",
        "ðŸ’¡",
        "ðŸ“±",
        "ðŸ›",
        "ðŸ’°",
        "ðŸŽ",
      ];

      const randomEmoji = () =>
        emojis[Math.floor(Math.random() * emojis.length)];

      const replaceWordsWithEmoji = () => {
        const elements = document.querySelectorAll("p, h2, h3");
        elements.forEach((element) => {
          const words = element.textContent.split(" ");
          const replaced = words.map((word) => randomEmoji()).join(" ");
          element.textContent = replaced;
        });
      };

      const originalTexts = [];
      const restoreText = () => {
        const elements = document.querySelectorAll("p, h2, h3");
        elements.forEach((element, index) => {
          element.textContent = originalTexts[index];
        });
      };

      let isReplaced = false;
      const toggleReplace = () => {
        if (isReplaced) {
          restoreText();
          isReplaced = false;
        } else {
          const elements = document.querySelectorAll("p, h2, h3");
          elements.forEach((element) => {
            originalTexts.push(element.textContent);
          });
          replaceWordsWithEmoji();
          isReplaced = true;
        }
      };

      const button = document.querySelector(".emoji-toggle");
      button.addEventListener("click", toggleReplace);
    </script>
  </main>
</Layout>

<style>
  .time-date {
    position: absolute;
    top: 0;
    left: 0;
  }
  .dark-light-toggle {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
  }
  .hero-subtitle {
    margin-top: 5%;
    margin-bottom: 20%;
  }
  .hero-subtitle h2 {
    font-size: 40px;
    font-weight: 500;
    opacity: 0.85;
    text-transform: lowercase;

    text-align: end;
  }
</style>
