---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Ian Wagner | Web Dev">
  <main>
    <div class="hero-subtitle">
      <h2>
        Innovative <span class="title-accent emoji-replace">web</span> design for a dynamic <span
          class="title-accent emoji-replace">world</span
        >
      </h2>
    </div>
    <About />
    <Work />
    <Contact />
  </main>
  <script is:inline>
    const darkLightBtn = document.querySelector("#dark-light-toggle");
    const html = document.querySelector("html");

    darkLightBtn.addEventListener("click", function () {
      html.dataset.theme = html.dataset.theme === "light" ? "dark" : "light";
      darkLightBtn.innerText =
        darkLightBtn.innerText === "go dark" ? "go light" : "go dark";
    });
  </script>
  <script>
    const header = document.querySelector(".grid") as HTMLElement;
    const headerOffsetTop = header.offsetTop;
    let placeholder = null;
    let scrolled = false;

    window.addEventListener("scroll", () => {
      scrolled = true;
    });

    function handleScroll() {
      if (
        window.innerWidth > 761 &&
        scrolled &&
        window.pageYOffset >= headerOffsetTop
      ) {
        if (!placeholder) {
          placeholder = document.createElement("div");
          placeholder.style.height = `${header.offsetHeight}px`;
          header.parentNode.insertBefore(placeholder, header);
        }
        header.classList.add("sticky");
        header.style.top = `20px`;
      } else {
        if (placeholder) {
          placeholder.remove();
          placeholder = null;
        }
        header.classList.remove("sticky");
        header.style.top = ``;
      }
    }

    // Wait for the DOM to load before handling the scroll event
    document.addEventListener("DOMContentLoaded", handleScroll);

    // Add a scroll event listener to handle scrolling after the page has loaded
    window.addEventListener("scroll", handleScroll);
  </script>
  <script>
    const emojis = [
      "ðŸ¤™",
      "ðŸ§©",
      "ðŸ¥",
      "ðŸŽ²",
      "ðŸŽ¹",
      "ðŸŽ¨",
      "ðŸŽ¸",
      "ðŸŽ³",
      "ðŸ•ï¸",
      "ðŸŽ»",
      "ðŸ‘",
      "ðŸ‘Ž",
      "ðŸ’©",
      "ðŸ¤–",
      "ðŸ§Ÿ",
      "ðŸ‘»",
      "ðŸ¦Š",
      "ðŸ»",
      "ðŸ¶",
      "ðŸ±",
      "ðŸŒž",
      "ðŸ¤",
      "ðŸ§Š",
      "ðŸŒŠ",
      "ðŸž",
      "ðŸ—»",
      "ðŸ”",
      "ðŸ›¸",
      "ðŸš€",
      "ðŸš²",
      "ðŸ›´",
      "ðŸš—",
      "ðŸš•",
      "ðŸ©",
      "ðŸ›³",
      "â›µï¸",
      "ðŸš¤",
      "ðŸŠ",
      "ðŸš´",
      "",
      "ðŸŽ®",
      "ðŸŽ¥",
      "ðŸŽ§",
      "ðŸ“–",
      "ðŸ’»",
      "ðŸ’¡",
      "ðŸ“±",
      "ðŸ›",
      "ðŸ’°",
      "ðŸŽ",
    ];

    const randomEmoji = () => emojis[Math.floor(Math.random() * emojis.length)];

    const replaceWordsWithEmoji = () => {
      const elements = document.querySelectorAll(".emoji-replace");
      elements.forEach((element) => {
        const words = element.textContent.split(" ");
        const replaced = words.map((word) => randomEmoji()).join(" ");
        element.textContent = replaced;
      });
    };

    const originalTexts = [];
    const restoreText = () => {
      const elements = document.querySelectorAll(".emoji-replace");
      elements.forEach((element, index) => {
        element.innerHTML = originalTexts[index];
      });
    };

    let isReplaced = false;
    const toggleReplace = () => {
      if (isReplaced) {
        restoreText();
        isReplaced = false;
      } else {
        const elements = document.querySelectorAll(".emoji-replace");
        elements.forEach((element) => {
          originalTexts.push(element.innerHTML);
        });
        replaceWordsWithEmoji();
        isReplaced = true;
      }
    };

    const button = document.querySelector(".emoji-toggle");
    button.addEventListener("click", toggleReplace);
  </script>
</Layout>

<style>
  .hero-subtitle {
    margin-top: 5%;
    margin-bottom: 20%;
    position: relative;
  }
  .hero-subtitle h2 {
    font-size: clamp(1.8rem, -0.8333rem + 4.4444vw, 2.5rem);
    text-transform: lowercase;
    text-align: end;
    color: #8b8b8b;
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 6rem;
  }

  @media only screen and (max-width: 761px) {
    .hero-subtitle h2 {
      text-align: center;
      line-height: 1.4;
      margin-top: 15%;
    }
  }
</style>
