---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
---

<Layout title="Ian Wagner | Web Dev">
  <main>
    <div class="time-date">
      <div>
        &copy;{new Date().getFullYear()}
      </div>
    </div>
    <div class="dark-light-toggle">
      <p id="dark-light-toggle">go dark</p>
    </div>
    <div class="hero-subtitle">
      <h2>Crafting websites that are as unique as you are</h2>
    </div>
    <About />
    <Work />
    <script is:inline>
      const darkLightBtn = document.querySelector("#dark-light-toggle");
      const html = document.querySelector("html");

      darkLightBtn.addEventListener("click", function () {
        html.dataset.theme = html.dataset.theme === "dark" ? "light" : "dark";
        darkLightBtn.innerText =
          darkLightBtn.innerText === "go light" ? "go dark" : "go light";
      });
    </script>
  </main>
</Layout>

<style>
  .time-date {
    position: absolute;
    top: 0;
    left: 0;
  }
  .dark-light-toggle {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
  }
  .hero-subtitle {
    margin-bottom: 20%;
  }
  .hero-subtitle h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: end;
  }
</style>
