<style>
  .image-overlay-wrap {
    display: inline-block; /* shrinks container to image size */
    fill: transparent;
    position: relative;
  }

  .image-overlay-wrap img {
    /* optional, for responsiveness */

    display: block;
    height: auto;
    max-width: 100%;
  }

  .image-overlay-wrap svg {
    left: 20%;
    position: absolute;
    top: 20%;
    cursor: pointer;
  }

  .svg {
    transition: all 1s ease;
  }

  .popup {
    position: absolute;
    top: 20%;
    left: 20%;
    display: none;
    z-index: 10;
    background-color: orange;
  }

  .popup-close {
    text-align: end;
  }

  .popup-content {
    display: flex;
    max-width: 300px;
  }
</style>

<div class="image-overlay-wrap">
  <img
    src="https://worldmapblank.com/wp-content/uploads/2021/03/Africa-Blank-map-Outline.jpg.webp"
  />

  <svg
    class="svg"
    width="20"
    height="20"
    viewbox="0 0 40 40"
    xmlns="http://www.w3.org/2000/svg">
    <circle
      cx="20"
      cy="20"
      fill="none"
      r="10"
      stroke="#383a36"
      stroke-width="2">
      <animate
        attributeName="r"
        from="8"
        to="20"
        dur="1.5s"
        begin="0s"
        repeatCount="indefinite"></animate>
      <animate
        attributeName="opacity"
        from="1"
        to="0"
        dur="1.5s"
        begin="0s"
        repeatCount="indefinite"></animate>
    </circle>
    <circle cx="20" cy="20" fill="#383a36" r="10"></circle>
  </svg>
  <div class="popup">
    <div class="popup-close">x</div>
    <div class="popup-content">
      <div>
        <img
          src="https://cdn.discordapp.com/attachments/662844749639843870/1072212635463979088/image.png"
          alt=""
        />
      </div>
      <div>
        <h3>Cameroon</h3><p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae totam
          autem cum obcaecati eveniet voluptatem sunt ullam iste voluptatum vel.
          Et quisquam velit nobis quod autem voluptatem vero accusantium
          tempora.
        </p>
      </div>
    </div>
  </div>
</div>

<script is:inline>
  const svgContainers = document.querySelector(".svg");
  const close = document.querySelector(".popup-close");
  svgContainers.addEventListener("click", function () {
    document.querySelector(".popup").style.display = "block";
  });
  close.addEventListener("click", function () {
    document.querySelector(".popup").style.display = "none";
  });
</script>
