---
---

<section id="about">
  <h3 class="section-title">about</h3>
  <p class="about-content">
    Greetings! I blur the lines of creativity and tech to produce captivating
    and interactive websites. My background in hospitality prepares me for
    fast-paced and demanding work environments, where I excel at juggling tasks
    and collaborating with team members to bridge the client-consumer divide. On
    my days off, you can find me exploring new coffee joints in Logan Square or
    taking a scenic bike ride along the 606 trail.
  </p>
</section>
<style>
  .about-content {
    max-width: 50%;
  }
</style>
