---
---

<section id="about">
  <div class="section-content">
    <h3 class="section-title"><span class="title-accent">about</span> me</h3>
    <p>
      Greetings! I blur the lines of creativity and tech to produce captivating and interactive
      websites. My background in hospitality prepares me for fast-paced and demanding work
      environments, where I excel at juggling tasks and collaborating with team members to bridge
      the client-consumer divide. On my days off, you can find me exploring new coffee joints in
      Logan Square or taking a scenic bike ride along the 606 trail.
    </p>
  </div>
</section>
<style>
  .section-content {
    max-width: 50%;
    width: 100%;
    margin-left: auto;
  }

  .section-title {
    font-size: 4.5rem;
    color: #8b8b8b;
  }

  .section-content p {
    font-size: 2.5rem;
    color: var(--body-text);
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 5rem;
  }
</style>
