<section id="about" class="about">
  <div class="section-content">
    <h3 class="section-title"><span class="title-accent">about</span> me</h3>
    <p>
      Greetings! I blur the lines of creativity and tech to produce captivating and interactive websites. My background in hospitality prepares me for fast-paced and demanding work environments, where I excel at juggling tasks and collaborating with team members to bridge the client-consumer divide. On my days off, you can find me exploring new coffee joints in Logan Square or taking a scenic bike ride along the 606 trail.
    </p>
  </div>
</section>

<style>
  .about {
  position: relative; 
  display: block;
  width: 70rem;
  max-width: 90%;
  margin: 0 auto;


}

  .section-content {
    width: 70rem;
    max-width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .section-title {
    font-size: 4.5rem;
    color: #8b8b8b;
  }

  .section-content p {
    font-size: 2.5rem;
    color: var(--body-text);
    font-family: var(--neue-text);
    line-height: 1.7;
    white-space: pre-wrap;
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 10rem;
  }

.about span.letter {
  font-family: var(--neue-text);
  font-size: 2.5rem;
  color: var(--body-text);
  opacity: 0.1;
  transition: opacity 1s linear;
}
</style>
<script>
document.addEventListener("DOMContentLoaded", () => {
  const textWrapper = document.querySelector("#about .section-content p");

  if (textWrapper) {
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    const letters = document.querySelectorAll("#about .letter");

    const adjustOpacity = () => {
      const factor = 2.7; // Controls the speed of the scroll effect
      const offset = 700; // Controls when the scroll effect starts
      const scrollProgress = factor * (document.documentElement.scrollTop - offset);
      const scrolled = scrollProgress / (document.documentElement.scrollHeight - document.documentElement.clientHeight) * letters.length;
      const fadeRange = 50; // Number of letters over which the opacity will transition

      letters.forEach((letter, index) => {
        const distance = scrolled - index;
        let opacity;

        if (distance > fadeRange) {
          opacity = 1;
        } else if (distance < 0) {
          opacity = .1;
        } else {
          opacity = Math.max(0.1, distance / fadeRange);
        }

        (letter as HTMLElement).style.opacity = opacity.toString();
      });
    };
    adjustOpacity();
    document.addEventListener("scroll", adjustOpacity);
  }
});

</script>
