---
---

<section id="contact">
  <div class="section-content">
    <h3 class="section-title">
      <span class="title-accent emoji-replace">contact</span>
      <span class="mobile-hide">info</span>
    </h3>
    <div class="info">
      <h4>Ready to navigate the stars together?</h4>
      <a href="mailto:hello@ianwag.com">hello@ianwag.com</a>
      <p>Chicago, Illinois</p>
    </div>
    <h4 class="getintouch">or get in touch here:</h4>
    <form method="post" action="" id="" class="">
      <div class="contact-form">
        <span class="mobile-hide">Hello, fellow space traveler! My name orbits as</span>
        <p class="mobile-show">Name:</p>
        <input
          type="text"
          class=""
          name="name"
          id="contact-name"
          placeholder="Enter your name"
          required=""
        />
        <span class="mobile-hide">, transmit signals to my galactic mail at</span>
        <p class="mobile-show">Email:</p>
        <input
          type="email"
          class=""
          name="email"
          id="contact-email"
          placeholder="Enter your email"
          required=""
        />
        <span class="mobile-hide">, and here's the essence of my transmission (message):</span>
      </div>
      <p class="mobile-show">Message:</p>
      <textarea
        class=""
        id="textarea"
        name="contact-msg"
        placeholder="Type your interstellar query, idea, or discovery here..."
      ></textarea>
      <div class="">
        <button>send message</button>
      </div>
    </form>
  </div>
</section>
<style>
  .section-title {
    font-size: 3.5rem;
    color: #8b8b8b;
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 6rem;
  }

  .section-content {
    font-size: clamp(2rem, 3vw, 3rem);
    color: var(--body-text);
    font-family: var(--neue-text);
    line-height: 1.7;
    padding-bottom: 1.5rem;
  }

  .info {
    font-size: clamp(2rem, 3vw, 5rem);
    margin-bottom: 7rem;
  }

  .info h4 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 2rem 0;
  }
  .info a {
    font-weight: 700;
    transition: all 0.2s ease-in-out;
  }

  .info a:hover {
    letter-spacing: 0.1rem;
  }

  .info p {
    font-size: clamp(1.5rem, 3vw, 3rem);
  }

  .getintouch {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 1rem;
    color: var(--grey);
  }

  input {
    font-size: clamp(1.5rem, 3vw, 3rem);
    background-color: transparent;
    color: var(--body-text);
    font-family: var(--neue-text);
    line-height: 1.7;
    border: none;
    border-bottom: 1px solid rgb(217, 217, 217, 0.5);
    text-align: center;
    border-radius: 0;
    -webkit-appearance: none;
  }

  input::placeholder {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: var(--body-text);
    text-align: center;
  }

  textarea {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    background-color: transparent;
    color: var(--body-text);
    font-family: var(--neue-text);
    line-height: 1.7;
    border: 1px solid rgb(217, 217, 217, 0.5);
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0;
    -webkit-appearance: none;
  }

  textarea::placeholder {
    font-size: clamp(1.5rem,3vw,2.5rem);
  }

  button {
    font-size: 3rem;
    background-color: var(--primary-background);
    border: 1px solid var(--body-text);
    color: var(--body-text);
    font-family: var(--neue-text);
    font-weight: 400;
    line-height: 1;
    padding: 1rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
    opacity: .5;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button:hover {
    opacity: 1;
  }

  input:focus,
  select:focus,
  button:focus {
    outline: none;
    border-bottom: 1px solid rgb(217, 217, 217, 1);
  }

  textarea:focus {
    outline: none;
    border: 1px solid rgb(217, 217, 217, 1);
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    opacity: 1;
  }

  .mobile-show {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  @media only screen and (max-width: 761px) {

  .title-accent {
    font-size: 4rem;
  }

  input {
    text-align: left;
  }

  input::placeholder {
    text-align: left;
  }

  button {
    font-size: 2rem;
    display: block;
    width: 100%;
  }

  button {
    opacity: 1;
  }
</style>
