---
---

<section id="contact">
  <div class="section-content">
    <h3 class="section-title">
      <span class="title-accent emoji-replace">contact</span>
      <span class="mobile-hide">info</span>
    </h3>
    <div class="info">
      <h4>Ready to navigate the stars together?</h4>
      <span class="email-location-label">email:</span>
      <a class="mobile-hide" href="mailto:hello@ianwag.com">hello@ianwag.com</a>
      <a class="mobile-show" href="mailto:hi@ianwag.com">hi@ianwag.com</a>
      <span class="email-location-label">location:</span>
      <p>Chicago, Illinois</p>
    </div>
    <h4 class="getintouch">or get in touch here:</h4>
    <form name="contact" method="POST" data-netlify="true" id="contact-form">
      <div class="contact-form">
        <span class="mobile-hide"
          >Hello, fellow space traveler! My name orbits as</span
        >
        <p class="mobile-show">name:</p>
        <input
          type="text"
          class=""
          name="name"
          id="contact-name"
          placeholder="enter your name"
          required=""
        />
        <span class="mobile-hide"
          >, transmit signals to my galactic mail at</span
        >
        <p class="mobile-show">email:</p>
        <input
          type="email"
          class=""
          name="email"
          id="contact-email"
          placeholder="enter your email"
          required=""
        />
        <span class="mobile-hide"
          >, and here's the essence of my transmission (message):</span
        >
      </div>
      <p class="mobile-show">message:</p>
      <textarea
        class=""
        id="textarea"
        name="contact-msg"
        placeholder="type your interstellar query, idea, or discovery here..."
      ></textarea>
      <div>
        <button type="submit">send message</button>
        <div id="form-success-message" style="display: none;">Thank you for your message!</div>
        <div id="form-error-message" style="display: none;">Submission failed, please try again.</div>
        
      </div>
    </form>
  </div>
</section>
<script>
  document.getElementById("contact-form").addEventListener("submit", function (e) {
    e.preventDefault(); // Prevent the default form submission
    const form = e.target;
    const data = new FormData(form as HTMLFormElement);

    fetch("/", {
      method: "POST",
      body: data,
      headers: {
        "Accept": "application/json",
      },
    })
    .then(response => {
      if (response.ok) {
        // Show the success message
        document.getElementById("form-success-message").style.display = "block";
        (form as HTMLFormElement).reset(); // Reset the form fields
      } else {
        // Handle the error state
        document.getElementById("form-error-message").style.display = "block";
        console.error("Form submission failed");
      }
    })
    .catch(error => {
      // Handle any errors that occurred during the fetch
      document.getElementById("form-error-message").style.display = "block";
      console.error("Error:", error);
    });
  });
</script>

<style>
  .section-title {
    font-size: 3.5rem;
    color: #8b8b8b;
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 6rem;
  }

  .section-content {
    font-size: clamp(2rem, 3vw, 3rem);
    color: var(--body-text);
    font-family: var(--neue-text);
    line-height: 1.7;
    padding-bottom: 1.5rem;
  }

  .info {
    font-size: clamp(2rem, 3vw, 5rem);
    margin-bottom: 7rem;
  }

  .info h4 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 2rem 0;
  }
  .info a {
    font-weight: 700;
    transition: none;
  }

  .info a:hover {
    background: var(--primary-text);
    color: var(--primary-background);
  }

  .info p {
    font-size: clamp(1.5rem, 3vw, 3rem);
  }

  .email-location-label {
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: var(--grey);
    display: block;
  }

  .info span:first-of-type {
    margin-bottom: -10px;
  }

  .getintouch {
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: var(--grey);
  }

  input {
    font-size: clamp(1.5rem, 3vw, 3rem);
    background-color: transparent;
    color: var(--body-text);
    font-family: var(--neue-text);
    line-height: 1.7;
    border: none;
    border-bottom: 1px solid var(--border-outline-50);
    text-align: center;
    border-radius: 0;
    -webkit-appearance: none;
    max-width: 21rem;
  }

  input::placeholder {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: var(--body-text);
    text-align: center;
    opacity: 0.5;
  }

  textarea {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    background-color: transparent;
    color: var(--body-text);
    font-family: var(--neue-text);
    line-height: 1.7;
    border: 1px solid var(--border-outline-50);
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0;
    -webkit-appearance: none;
  }

  textarea::placeholder {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    opacity: 0.5;
  }

  button {
    font-size: 3rem;
    background-color: var(--primary-background);
    border: 1px solid var(--body-text);
    color: var(--body-text);
    font-family: var(--neue-text);
    font-weight: 400;
    line-height: 1;
    padding: 1rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button:hover {
    opacity: 1;
  }

  input:focus,
  select:focus,
  button:focus {
    outline: none;
    border-bottom: 1px solid var(--border-outline-100);
    opacity: 1;
  }

  textarea:focus {
    outline: none;
    border: 1px solid var(--border-outline-100);
    opacity: 1;
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    opacity: 1;
  }

  .mobile-show {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  @media only screen and (max-width: 761px) {
    .title-accent {
      font-size: 4rem;
    }

    input {
      text-align: left;
    }

    input::placeholder {
      text-align: left;
    }

    button {
      font-size: 2rem;
      display: block;
      width: 100%;
    }

    button {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1100px) {
    .info span:first-of-type {
      margin-bottom: -5px;
    }
  }
</style>
