---
---

<footer>
    <p class="emoji-replace">designed and developed by me <span class="mobile-hide">&middot; inspired by the mysteries of the universe</span>
    </p>
</footer>
<style>
  footer {
    color: var(--primary-text);
    display: flex;
    justify-content: center;
    font-size: .9rem;
    padding-bottom: .8rem;
    text-align: center;
    text-wrap: balance;
    letter-spacing: 3px;
  }
</style>
