---
import Logo from "./Logo.astro";
---

<div class="header-container">
  <div class="dark-mode-time-container">
    <div class="time-date">
      <p>
        &copy;{new Date().getFullYear()}
      </p>
    </div>
    <div><a href="mailto:hello@ianwag.com?subject=Mail from Our Site">hello@ianwag.com</a></div>
    <div class="dark-light-toggle">
      <span id="dark-light-toggle">go light</span>
    </div>
  </div>
  <Logo />

  <nav class="sticky grid">
    <div class="header-links-1">
      <ul>
        <li class="emoji-toggle">
          <span class="emoji-toggle-hover nav-item">Web Developer</span>
        </li>
        <li class="random-color nav-item">Chicago</li>
      </ul>
    </div>
    <div class="header-links-2">
      <ul>
        <li>
          <a href="#work"><span class="links-hover nav-item">Work</span></a>
        </li>
      </ul>
    </div>
    <div class="header-links-3">
      <ul>
        <li>
          <a href="#about"><span class="links-hover nav-item">About</span></a>
        </li>
      </ul>
    </div>
    <div class="header-links-4">
      <ul>
        <li>
          <a href="#"><span class="links-hover nav-item">Contact</span></a>
        </li>
      </ul>
    </div>
    <div class="header-links-5">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/ian-wag/" target="_blank"
            ><span class="links-hover nav-item">Linkedin</span></a
          >
        </li>
        <li>
          <a href="https://github.com/ian-wag" target="_blank"
            ><span class="links-hover nav-item">Github</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <style>
    .header-container {
      width: 100%;
    }
    .logo-text {
      font-size: clamp(60px, 15vw, 200px);
    }

    .emoji-toggle {
      cursor: pointer;
      user-select: none;
    }

    .emoji-toggle-hover:hover {
      background: var(--primary-text);
      color: var(--primary-background);
    }

    .dark-mode-time-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10vh;
      min-height: 22px;
    }

    .dark-light-toggle {
      cursor: pointer;
      user-select: none;
    }

    .nav-item {
      font-family: lft-etica-mono, sans-serif;
    }

    li {
      text-transform: uppercase;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 0;
      width: 100%;
      transform: translateY(-2.8vw);
      padding-left: 0;
    }
    @media only screen and (max-width: 761px) {
      .grid {
        display: block;
        transform: translateY(0vw);
      }
      .header-links-1 li,
      .header-links-2 li,
      .header-links-3 li,
      .header-links-4 li,
      .header-links-5 li {
        display: flex;
        justify-content: flex-end;
      }
    }
    .header-links-1 {
      grid-area: 1/1/2/3;
    }
    .header-links-2 {
      grid-area: 1/5/1/6;
      margin-left: 0px;
    }

    .header-links-3 {
      grid-area: 1/6/1/7;
    }
    .header-links-4 {
      grid-area: 1/8/1/9;
      margin-left: -7px;
    }
    .header-links-5 {
      grid-area: 1/10/1/10;
    }

    .header-container .links-hover:hover {
      background: var(--primary-text);
      color: var(--primary-background);
    }
  </style>
</div>
