---
import WorkCard from "./WorkCard.astro";
import MyEquipmentSpecs from "../assets/MES.jpg";
import IronCraft from "../assets/IronCraft.jpg";
import PharmaMed from "../assets/PharmaMed.jpg";
import Tandim from "../assets/Tandim.jpg";
---

<section id="work">
  <div class="section-content">
    <h3 class="section-title">recent <span class="title-accent emoji-replace">work</span></h3>
    <div class="work-wrapper">
      <WorkCard
        imgSrc={MyEquipmentSpecs}
        title="MES"
        subtitle="Fecon description"
        agency="Bartlett Idea Co."
        tags="PHP | JS | WordPress"
        projectHref="https://myequipmentspecs.com/"
        agencyHref="https://bartlett.co/"
      />
      <WorkCard
        imgSrc={IronCraft}
        title="IronCraft"
        subtitle="IronCraft description"
        agency="Bartlett Idea Co."
        tags="PHP | JS | WordPress"
        projectHref="https://ironcraftusa.com/"
        agencyHref="https://bartlett.co/"
      />
      <WorkCard
        imgSrc={Tandim}
        title="TANDIM"
        subtitle="Tandim description"
        tags="Astro"
        projectHref="https://tandimmusic.com/"
      />
      <WorkCard
      imgSrc={PharmaMed}
      title="PharmaMed"
      subtitle="PharmaMed description"
      agency="Bartlett Idea Co."
      tags="PHP | JS | WordPress"
      projectHref="https://pharmamedinc.com/"
      agencyHref="https://bartlett.co/"
        />
    </div>
  </div>
</section>
<style>
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;;
  }

  .section-content h3 {
    align-self: flex-start;
  }

  .section-title {
    font-size: 3.5rem;
    color: #8b8b8b;
  }

  .work-wrapper {
    width:90rem;  
    max-width: 90%;
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 6rem;
  }
</style>
