---
import WorkCard from "./WorkCard.astro";
import MyEquipmentSpecs from "../assets/MES.jpg";
import IronCraft from "../assets/IronCraft.jpg";
import PharmaMed from "../assets/PharmaMed.jpg";
import Tandim from "../assets/Tandim.jpg";
---

<section id="work">
  <div class="section-content">
    <h3 class="section-title">recent <span class="title-accent">work</span></h3>
    <WorkCard
      imgSrc={MyEquipmentSpecs}
      title="MyEquipmentSpecs"
      subtitle="Fecon description"
      agency="Bartlett Idea Co."
      tags="HTML | PHP | JS | WordPress"
      projectHref="https://myequipmentspecs.com/"
      agencyHref="https://bartlett.co/"
    />
    <WorkCard
      imgSrc={IronCraft}
      title="IronCraft"
      subtitle="IronCraft description"
      agency="Bartlett Idea Co."
      tags="HTML | PHP | JS | WordPress"
      projectHref="https://ironcraft.com/"
      agencyHref="https://bartlett.co/"
    />
    <WorkCard
      imgSrc={Tandim}
      title="Tandim"
      subtitle="Tandim description"
      tags="HTML | PHP | JS | WordPress"
      projectHref="https://tandimmusic.com/"
    />
    <WorkCard
    imgSrc={PharmaMed}
    title="PharmaMed"
    subtitle="PharmaMed description"
    agency="Bartlett Idea Co."
    tags="HTML | PHP | JS | WordPress"
    projectHref="https://pharmamed.com/"
    agencyHref="https://bartlett.co/"
  />
  </div>
</section>
<style>
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-content h3 {
    align-self: flex-start;
  }

  .section-title {
    font-size: 4.5rem;
    color: #8b8b8b;
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 10rem;
  }
</style>
