---
---

<section id="work">
  <div class="section-content">
    <h3 class="section-title">Recent Work</h3>
  </div>
</section>

<style>
  .section-content {
    max-width: 60%;
    width: 100%;
  }

  .section-content h3 {
  }
</style>
