---
import WorkCard from './WorkCard.astro';
import Fecon from '../assets/Fecon.jpg';
import IronCraft from '../assets/IronCraft.jpg';
import PharmaMed from '../assets/PharmaMed.jpg';
---

<section id="work">
  <div class="section-content">
    <h3 class="section-title">recent <span class="title-accent">work</span></h3>
    <div class="row">
      <div class="column">
        <WorkCard
          imgSrc={Fecon}
          title="Fecon"
          subtitle="Fecon description"
          agency="Bartlett Idea Co."
          tags="HTML | PHP | JS | WordPress"
          projectHref="https://fecon.com/"
          agencyHref="https://bartlett.co/"
        />
        <WorkCard
          imgSrc={PharmaMed}
          title="PharmaMed"
          subtitle="PharmaMed description"
          agency="Bartlett Idea Co."
          tags="HTML | PHP | JS | WordPress"
          projectHref="https://pharmamed.com/"
          agencyHref="https://bartlett.co/"
        />
      </div>
      <div class="column">
        <WorkCard
          imgSrc={IronCraft}
          title="IronCraft"
          subtitle="IronCraft description"
          agency="Bartlett Idea Co."
          tags="HTML | PHP | JS | WordPress"
          projectHref="https://ironcraft.com/"
          agencyHref="https://bartlett.co/"
        />
      </div>
    </div>
  </div>
</section>
<style>
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-content h3 {
    align-self: flex-start;
  }

  .section-title {
    font-size: 4.5rem;
    color: #8b8b8b;
  }

  .title-accent {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 5rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  .column {
    max-width: 46%;
  }
</style>
