---
import Header from '../components/Header.astro';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/uec6tst.css" />
    <title>{title}</title>
  </head>
  <body>
    <div class="body-container">
      <div class="flex">
        <Header />
      </div>
      <slot />
    </div>
    <!-- <div class="blob-cont">
      <div class="grey1 blob"></div>
      <div class="grey2 blob"></div>
    </div> -->
  </body>
</html>

<style is:global>
  html {
    box-sizing: border-box;
    font-size: 16px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: var(--primary-text);
    transition: color 150ms ease-in-out;
  }

  h1 {
    font-family: anonymous-pro, monospace;
    font-weight: 700;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: anonymous-pro, monospace;
    font-weight: 700;
    font-style: normal;
  }

  p,
  li,
  a,
  span {
    font-family: lft-etica-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  :root {
    --primary-text: #eeeeee;
    --primary-background: #0c0c0c;
    --grey1: #353535;
    --grey2: #272727;
    --easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  [data-theme='light'] {
    --primary-text: #0c0c0c;
    --primary-background: #eeeeee;
    --grey1: #a6aacf;
    --grey2: #9493e0;
  }

  [data-theme='dark'] {
    --primary-text: #eeeeee;
    --primary-background: #0c0c0c;
    --grey1: #353535;
    --grey2: #272727;
  }
  html {
    font-family: monospace, sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-text);
    transition: all 0.1s ease-in-out;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .body-container {
    position: relative;
    width: 98%;
    max-width: 2550px;
    margin: 0 auto;
    height: 2000px;
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  .section-title {
    font-size: 2rem;
    text-transform: lowercase;
  }
  /* .blob-cont {
    position: absolute;
    z-index: -20;
    top: 0;
    left: 0;
    height: 120%;
    width: 100vw;
    overflow-x: hidden;
  }

  .blob {
    filter: blur(60px);
  }

  .grey1 {
    background-color: var(--grey1);
    position: absolute;
    height: 30vh;
    width: 30vw; 
    border-radius: 10%; 
    animation: grey1 60s infinite ease;
  }

  .grey2 {
    background-color: var(--grey2);
    position: absolute;
    height: 60vh; 
    width: 50vw;
    border-radius: 20%; 
    animation: grey2 120s infinite ease;
  }

  @keyframes grey1 {
    0% {
      top: 10vh;
      left: 10vw;
      transform: scale(1) rotate(0deg);
    }
    30% {
      top: 20vh;
      left: 20vw;
      transform: scale(1.2) rotate(120deg);
    }
    60% {
      top: 30vh;
      left: 30vw;
      transform: scale(1.3) rotate(240deg);
    }
    100% {
      top: 10vh;
      left: 10vw;
      transform: scale(1) rotate(360deg);
    }
  }

  @keyframes grey2 {
    0% {
      top: 30vh;
      right: 30vw;
      transform: scale(1.2) rotate(0deg);
    }
    30% {
      top: 20vh;
      right: 20vw;
      transform: scale(1) rotate(-120deg);
    }
    60% {
      top: 10vh;
      right: 10vw;
      transform: scale(1) rotate(-240deg);
    }
    100% {
      top: 30vh;
      right: 30vw;
      transform: scale(1.2) rotate(-360deg);
    }
  } */

  .sticky {
    position: fixed;
    width: 98%;
    z-index: 22;
    margin-top: -1rem;
    transition: top 0.4s var(--easeOutCubic), transform 0.4s var(--easeOutCubic);
    transform: translateY(0vw);
  }

  ::selection {
    background: var(--primary-text);
    color: var(--primary-background);
  }

  @media only screen and (max-width: 761px) {
    .body-container {
      width: 90%;
    }
  }
</style>
