---
import "@fontsource/plus-jakarta-sans";

import Header from "../components/Header.astro";
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/uec6tst.css" />
    <title>{title}</title>
  </head>
  <body>
    <div class="body-container">
      <div class="flex">
        <Header />
      </div>
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: var(--primary-text);
    transition: color 150ms ease-in-out;
  }

  h1 {
    font-family: anonymous-pro, monospace;
    font-weight: 700;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
  }

  p,
  li,
  a,
  span {
    /* font-family: lft-etica-mono, sans-serif; */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    line-height: 1.4;
  }

  :root {
    --primary-text: #d9d9d9;
    --body-text: #d9d9d9;
    --primary-background: #141414;
    --easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --neue-display: neue-haas-grotesk-display, sans-serif;
    --neue-text: neue-haas-grotesk-text, sans-serif;
    --grey: #8b8b8b;
  }

  [data-theme="light"] {
    --primary-text: #111111;
    --body-text: #303030;
    --primary-background: #F8F8F8;
  }

  [data-theme="dark"] {
    --primary-text: #d9d9d9;
    --body-text: #d9d9d9;
    --primary-background: #141414;
  }

  body {
    font-family: monospace, sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-text);
    transition: all 0.1s ease-in-out;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .body-container {
    position: relative;
    width: 98%;
    max-width: 2550px;
    margin: 0 auto;
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  .section-content {
    padding-top: 40px;
  }

  .section-title {
    font-size: 2rem;
    text-transform: lowercase;
  }

  .sticky {
    position: fixed;
    width: 98%;
    z-index: 22;
    margin-top: -1rem;
    transition: top 0.4s var(--easeOutCubic), transform 0.4s var(--easeOutCubic);
    transform: translateY(0vw);
  }



  ::selection {
    background: var(--primary-text);
    color: var(--primary-background);
  }

  @media only screen and (max-width: 1100px) {
    .mobile-hide {
    display: none;
  }
  }

  @media only screen and (max-width: 761px) {
    .body-container {
      width: 90%;
    }
  }
</style>
