---
import Header from "../components/Header.astro";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="body-container">
      <div class="flex">
        <Header />
      </div>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    box-sizing: border-box;
    font-size: 16px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: var(--primary-text);
    transition: all 150ms ease-in-out;
  }

  :root {
    --primary-text: #222831;
    --primary-background: #eeeeee;
  }

  [data-theme="light"] {
    --primary-text: #222831;
    --primary-background: #eeeeee;
  }

  [data-theme="dark"] {
    --primary-text: #eeeeee;
    --primary-background: #222831;
  }
  html {
    font-family: monospace, sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-text);
    transition: all 0.1s ease-in-out;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .body-container {
    position: relative;
    width: 98%;
    max-width: 2550px;
    margin: 0 auto;
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  .section-title {
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: 700;
  }

  ::selection {
    background: var(--primary-text);
    color: var(--primary-background);
  }
</style>
